<p>
  <strong>Answer:</strong>
  <%= answer.StudentCode %>
</p>
<h2>Trace</h2>
<p>
    <strong>Trace:</strong>
    <%= answer.trace.nil? ? "NONE": answer.trace.exercise_trace%>
</p>
<p>
  <%= link_to 'Visualize', visualize_path(answer.exercise, answer), 'data-popup' => true %> |


  <%= link_to 'Destroy Answer', [answer.exercise, answer],
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
</p>